<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.mapper.collectorMapper">
	<insert id="register" parameterType="HashMap">
		insert into book
			(book_id,
			book_nm,
			author,
			color,
			 reg_dt)
		values	(
		        #{bookId}::integer,
		        #{bookNm},
		        #{author},
		        #{color},
		        current_timestamp
				  )
	</insert>


	<update id="update"  parameterType="HashMap">
		update book
		set color = #{color}
		where book_id = #{bookId}::integer
	</update>

	<select id="select" parameterType="HashMap">
		select bookNm, author FROM book WHERE #{bookId}::integer

	</select>

	<delete id="delete"  parameterType="HashMap">
		delete FROM book where book_id = #{bookId}::integer
	</delete>


</mapper>